# Xcode Build Directories
build/
*.xcodeproj/*.xcuserdata
*.xcodeproj/*.xcworkspace/xcuserdata
*.xcworkspace/contents.xcworkspacedata

# Local Swift Packages
.build/
.swiftpm/

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Derived Data
DerivedData/

# User Settings
*.userstate
*.mode1v3
*.perspectivev3
